<h1><%= @contestantname %></h1>
<h2><%= @contestantcollege %></h2>
<h3><%= @contestantconference %></h3>

Next person

<h1><%= @contestantname2 %></h1>
<h2><%= @contestantcollege2 %></h2>
<h3><%= @contestantconference2 %></h3>